.footer {
  padding: 6.25rem 0;
  @media (max-width: 800px) {
    padding: 3.75rem 0;
  }
}

.footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__top {
  display: flex;
  column-gap: 1.25rem;
  align-items: center;
  margin-bottom: 1.875rem;
}

.footer__top-title {
  color: black;
  font-size: 2.8125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.footer__list {
  display: flex;
  column-gap: 2.5rem;
  align-items: center;
  margin-bottom: 1.875rem;
  @media (max-width: 560px) {
    column-gap: 1.25rem;
    flex-wrap: wrap;
    row-gap: 1.25rem;
    justify-content: center;
  }
}

.footer__list-link {
  color: rgb(162, 150, 150);
  font-size: 1.5625rem;
  font-weight: 600;
}

.footer__social {
  display: flex;
  column-gap: 2.5rem;
  align-items: center;
  margin-bottom: 2.5rem;
}

.footer__decor {
  width: 100%;
  background-color: gray;
  height: 2px;
}

.footer__copy {
  color: rgb(143, 139, 139);
  font-size: 1.25rem;
  text-align: center;
  text-transform: capitalize;
  padding-top: 1.875rem;
}
