.popular {
  margin-top: 6.25rem;
}

.popular__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popular__title {
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3.75rem;
  margin-bottom: 1.25rem;
  text-align: center;
  @media (max-width: 767.98px) {
    font-size: 2.5rem;
  }
}

.popular__decor {
  background-color: black;
  height: 4px;
  border-radius: 0.625rem;
  margin-bottom: 5rem;
  width: 20%;
  @media (max-width: 767.98px) {
    margin-bottom: 1.875rem;
  }
}

.popular__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.875rem;
  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 767.98px) {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 3.125rem;
  }
}
