.description {
  margin-top: 6.25rem;
  @media (max-width: 767.98px) {
    margin-top: 2.5rem;
  }
}

.description__inner {
  display: flex;
  flex-direction: column;
}

.description__buttons {
  display: flex;
  align-items: center;
}

.description__button {
  background-color: transparent;
  padding: 1.25rem 1.875rem;
  border-top: 2px solid rgb(236, 218, 218);
  border-left: 2px solid rgb(236, 218, 218);
  border-right: 2px solid rgb(236, 218, 218);
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
  color: black;
  font-weight: 600;
  font-size: 1.125rem;
  &:nth-child(2) {
    border-left: none;
    background-color: rgb(241, 236, 236);
  }
}

.description__texts {
  border: 2px solid rgb(236, 218, 218);
  padding: 2.5rem 1.875rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem;
}

.description__text {
  color: rgb(155, 145, 145);
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 600;
}
