.login {
  background-color: rgb(230, 214, 227);
}

.login__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9.375rem 0;
  @media (max-width: 500px) {
    padding: 3.75rem 0;
  }
}

.login__content {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  background-color: white;
  padding: 3.75rem 2.5rem;
  width: 43.75rem;
  @media (max-width: 500px) {
    padding: 3.75rem 1.25rem;
  }
}

.login__form {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

.login__title {
  color: black;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: capitalize;
}

.login__form-input {
  border-radius: 5px;
  color: gray;
  padding: 1.5625rem 0.9375rem;
  border: 2px solid rgb(215, 198, 198);
  font-size: 1.25rem;
  &::placeholder {
    font-size: 1.25rem;
    color: rgb(159, 146, 146);
    font-weight: 600;
  }
}

.login__form-button {
  background-color: rgb(238, 74, 74);
  color: white;
  font-weight: 600;
  font-size: 1.5625rem;
  padding: 1.375rem 0;
}

.login__form-text {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
  font-size: 1.125rem;
  font-weight: 500;
  color: rgb(126, 122, 122);
  span {
    color: rgb(238, 74, 74);
    cursor: pointer;
  }
  @media (max-width: 500px) {
    line-height: 1.3;
  }
}

.login__form-checkbox {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
}
